.container {
    /* display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto; */
    margin-bottom: 25px;
}

.btn-blk {
    background-color: black;
}

.btn-green {
    background-color: rgb(59, 174, 24);
}

.btn-blue {
    background-color: rgb(16, 106, 210);
}

#skip-click-tap {
    margin-bottom: 28px;
}