.container {
    /* display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto; */
    margin-bottom: 25px;
}

.btn {
    background-color: #6ca5af;
}

#skip-click-tap {
    margin-bottom: 28px;
}